<div class="wrapper">
    <div class="login">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <img class="img-login" src="./assets/images/usuario.png" alt="image-usuario">
            <h1>Mi panel</h1>
            <!-- Email -->
            <mat-form-field class="input-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="text" formControlName="email" matInput autocomplete="off">
                <mat-error>Este campo es requerido</mat-error>
            </mat-form-field>
            <!-- Constraseña -->
            <mat-form-field class="input-width" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input type="password" formControlName="password" matInput autocomplete="off">
                <mat-error>Este campo es requerido</mat-error>
            </mat-form-field>
            <!-- Button Ingresar -->
            <button type="submit" class="btn-ingresar" mat-raised-button color="primary">Ingresar</button>
            <!-- Copy -->
            <p>&copy;Emanuel Bonardo</p>
        </form>
    </div>
</div>