<div class="wrapper">
    <!-- <mat-spinner diameter="50" class="spinner"></mat-spinner> -->

    <div class="register">
        <form>
            <img class="img-register" src="./assets/images/usuario.png" alt="image-usuario">

            <h1>Registrarse</h1>

            <!-- Email -->
            <mat-form-field class="input-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="text" matInput autocomplete="off">
                <mat-error>campo invalido</mat-error>
            </mat-form-field>

            <!-- Constraseña -->
            <mat-form-field class="input-width" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput autocomplete="off">
                <mat-error>campo invalido</mat-error>
            </mat-form-field>

            <!-- Button Ingresar -->
            <button type="submit" class="btn-confirm" mat-raised-button color="primary">Confirmar</button>

            <p>Registro listo? <a href="#">Volver</a></p>

            <!-- Copy -->
            <p>&copy;Emanuel Bonardo</p>
        </form>
    </div>
</div>
