<table mat-table [dataSource]="dataSource || []" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let student"> {{student.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let student"> {{student.name}} </td>
    </ng-container>

    <!-- SurName Column -->
    <ng-container matColumnDef="surname">
        <th mat-header-cell *matHeaderCellDef> Apellido </th>
        <td mat-cell *matCellDef="let student"> {{student.surname}} </td>
    </ng-container>

    <!-- Identity Column -->
    <ng-container matColumnDef="identity">
        <th mat-header-cell *matHeaderCellDef> DNI </th>
        <td mat-cell *matCellDef="let student"> {{student.identity}} </td>
    </ng-container>

    <!-- Registraton Column -->
    <ng-container matColumnDef="registration">
        <th mat-header-cell *matHeaderCellDef> Fecha de registro </th>
        <td mat-cell *matCellDef="let student"> {{student. registration}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let user">
            <!-- Button Edit -->
            <button mat-icon-button color="accent">
                <mat-icon>edit</mat-icon>
            </button>
            <!-- Button Delete -->
            <button mat-icon-button color="warn">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
