<div class="courses-section border border-3 p-4">
    <h1 appSizes class="text-center text-uppercase bg-dark text-white mx-auto py-3">Cursos</h1>

    <div class="mb-3">
        <button (click)="onCreateCourse()" mat-flat-button color="primary" type="button">
            <mat-icon>add</mat-icon>
            Crear curso
        </button>
    </div>

    <app-courses-table 
    [dataSource]="(course | async) || []"
    (editCourse)=" onEditCourse($event)"
    (deleteCourse)=" onDeleteCourse($event)"
    > 
    </app-courses-table>

</div>

