<div class="grid">
    <div class="row gap-3">
        <!-- CARD 1 -->
        <mat-card class="col-3">
            <!-- HEADER -->
            <mat-card-header>
                <mat-card-title>
                    Alumnos
                </mat-card-title>
            </mat-card-header>
            <!-- CONTENT -->
            <mat-card-content>
                <mat-icon>person</mat-icon>
            </mat-card-content>
        </mat-card>
        <!-- CARD 2 -->
        <mat-card class="col-3">
            <!-- HEADER -->
            <mat-card-header>
                <mat-card-title>
                    Alumnos
                </mat-card-title>
            </mat-card-header>
            <!-- CONTENT -->
            <mat-card-content>
                <mat-icon>person</mat-icon>
            </mat-card-content>
        </mat-card>
        <!-- CARD 3 -->
        <mat-card class="col-3">
            <!-- HEADER -->
            <mat-card-header>
                <mat-card-title>
                    Alumnos
                </mat-card-title>
            </mat-card-header>
            <!-- CONTENT -->
            <mat-card-content>
                <mat-icon>person</mat-icon>
            </mat-card-content>
        </mat-card>
    </div>
</div>
