<h1 mat-dialog-title>
    {{ editingUser ? 
        "Editar a " + editingUser.name + " " + editingUser.surname   
        : 'Crear alumno'
    }}</h1>
<div mat-dialog-content>
    <form [formGroup]="userForm" class="grid p-3">
        <!-- INPUT NAME -->
        <mat-form-field class="col-sm-6 col-lg-6 mb-3 px-3" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name" type="text" name="name">
            <mat-error *ngIf="nameControl.hasError('required') ">
                Este campo es requerido
            </mat-error>
            <mat-error *ngIf="nameControl.hasError('minlength') ">
                El campo debe tener al menos {{ nameControl.errors?.['minlength']?.requiredLength }} caracteres.
            </mat-error>
            <mat-icon matSuffix color="primary">sentiment_very_satisfied</mat-icon>
        </mat-form-field>
        <!-- INPUT SURNAME -->
        <mat-form-field class="col-sm-6 col-lg-6 mb-3 px-3" appearance="outline">
            <mat-label>Apellido</mat-label>
            <input matInput formControlName="surname" type="text" name="surname">
            <mat-error *ngIf="surnameControl.hasError('required') ">
                Este campo es requerido
            </mat-error>
            <mat-error *ngIf="surnameControl.hasError('minlength') ">
                El campo debe tener al menos {{ surnameControl.errors?.['minlength']?.requiredLength }} caracteres.
            </mat-error>
            <mat-icon matSuffix color="primary">sentiment_very_satisfied</mat-icon>
        </mat-form-field>
        <!-- INPUT EMAIL -->
        <mat-form-field class="col-sm-6 col-lg-6 mb-3 px-3" appearance="outline">
            <mat-label>E-mail</mat-label>
            <input formControlName="email" matInput type="email" name="email" placeholder="ejemplo123@email.com">
            <mat-error *ngIf="emailControl.hasError('required') ">
                Este campo es requerido
            </mat-error>
            <mat-icon matSuffix color="primary">sentiment_very_satisfied</mat-icon>
        </mat-form-field>
        <!-- INPUT PASSWORD -->
        <mat-form-field class="col-sm-6 col-lg-6 mb-3 px-3" appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input matInput formControlName="password" type="password" name="password">
            <mat-error *ngIf="passwordControl.hasError('required') ">
                Por favor ingresa tu contraseña
            </mat-error>
            <mat-error *ngIf="passwordControl.hasError('minlength') ">
                El campo debe tener al menos {{ passwordControl.errors?.['minlength']?.requiredLength }} caracteres.
            </mat-error>
            <mat-icon matSuffix color="primary">sentiment_very_satisfied</mat-icon>
        </mat-form-field>
    </form>
</div>

<div mat-dialog-actions>
    <!-- BUTTON GUARDAR -->
    <div class="col-12 text-center p-5">
        <button mat-dialog-close mat-raised-button color="warn">Cancelar</button>
        <button (click)="onSubmit()" mat-raised-button color="primary" type="submit">Guardar</button>
    </div>
</div>