.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.login {
    width: 100%;
    max-width: 330px;
    text-align: center;
    padding: 2rem;
    background-color: #dbdbdb;
    border-radius: 1rem;
    border-bottom: 1px solid black;
    box-shadow: 0 0 10px 1px;
}

.img-login {
    width: 30%;
}

.input-width {
    width: 100%;
}

.btn-ingresar {
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 1rem;
    padding: 1.5rem;
}

.spinner {
    margin: 0 auto;
}