<button routerLink=".." mat-icon-button class="bg-secondary text-white">
    <mat-icon>arrow_back</mat-icon>
</button>

<p>user-detail works!</p>



<div class="grid">
    <div class="row gap-3">
        <!-- CARD 1 -->
        <mat-card class="col-3">
            <!-- HEADER -->
            <mat-card-header>
                <mat-card-title>
                    Usuario
                </mat-card-title>
            </mat-card-header>
            <!-- CONTENT -->
            <mat-card-content>
                <mat-icon>person</mat-icon>
            </mat-card-content>
        </mat-card>
    </div>
</div>